<div class="row">
  <div class="col-md-3">
    <%= render "room_menu" %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Photo Upload
      </div>
      <div class="panel-body">
        <div class=container>
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <%# PHOTO UPLOAD %>

                <%= form_for @room, url: room_photos_path(@room), method: 'post', html: {multipart: true} do |f| %>
                <div class="div row">
                  <div class="div form-group">
                    <span class="btn btn-default btn-file text-babu">
                      <i class="fa fa-cloud-upload"></i>
                      Select Photos
                      <%= file_field_tag "images[]", type: :file, multiple: true %>
                    </span>
                  </div>
                </div>

                <div class="div text-center">
                  <%= f.submit "Add Photos", class: "btn btn-form" %>
                </div>
                <% end %>
            </div>
          </div>
          <div class="div" id="photos"><%= render 'photos/photos_list' %></div>
        </div>
      </div>
    </div>
  </div>
</div>